
@font-face {
    font-family: 'Arcade';
    src: url('../fonts/ArcadeClassic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArcadeClassic.woff') format('woff'),
        url('../fonts/ArcadeClassic.ttf')  format('truetype'),
        url('../fonts/ArcadeClassic.svg#ArcadeClassic') format('svg');
    font-weight: normal;
    font-style: normal;
}
