$base : white;

$roboto : 'Roboto', sans-serif;
$open   : 'Open Sans', sans-serif;

$thin    : 100;
$light   : 300;
$regular : 400;
$medium  : 500;
$semi    : 600;
$bold    : 700;
$extra   : 800;

$img : '../images/';
$bg  : '../images/backgrounds/';
$ico : '../images/icons/';